@model ProforgDataEF.tab_tickets

@{
    IEnumerable<ProforgDataEF.tab_tickets> CmpList = ViewBag.CmpList;
    ViewBag.Title = "Змінити";
}

<h2>Змінити</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Квитки</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ticket_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ticket_prise, "Ціна", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ticket_prise, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ticket_prise, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ticket_type_ID, "Тип", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ticket_type_ID, CmpList.Select(z => new SelectListItem()
           { Text = z.ticket_type.ticket_name, Value = (z.ticket_type_ID).ToString(), Selected = true }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ticket_type_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ticket_count, "Кількість", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ticket_count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ticket_count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "TicketsRender")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
